<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>Cadastrar</title>
      <!-- Bootstrap Core CSS -->
      <link href="css/bootstrap.min.css" rel="stylesheet">
      <!-- Custom CSS -->
      <link href="css/business-casual.css" rel="stylesheet">
      <script type="text/javascript" src="js/jquery.js"></script>
      <script language="JavaScript" type="text/javascript" src="MascaraValidacao.js"></script> 
      <script language="JavaScript" type="text/javascript" src="Cadastrar.js"></script> 
      <script language="JavaScript" type="text/javascript" src="js-util.js"></script> 
      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
      <script type="text/javascript">
    
         jQuery.getJSON('../service/public/parentesco.php', 
        
            function(resultado) {
               preencheParentesco(resultado);
            })
          
            .fail(
              function(resultado) {
                console.log("Erro ao efetuar consulta.");
              }
         );
        
         function preencheParentesco(parentescos) {
            var cbxParentesco = document.getElementById('cbxParentesco');
            preencheCombobox(cbxParentesco, parentescos, 'cd_parent', 'ds_parent');
         }
      </script>
   </head>
   <body>
      <div class="brand">Cadastrar</div>
      <!-- Navigation -->
      <div class="container">
         <div class="row">
            <div class="box">
               <div class="col-lg-12 col-md-12">
                  <hr>
                  <h2 class="intro-text text-center">Dados cadastrais</h2>
                  <hr>
                  <form name="Cadastro" role="form" onsubmit="return cadastrarAtleta(this);">
                     <label>DADOS PESSOAIS</label>
                     <div class="well">
                       <div class="row">
                          <div class="form-group col-lg-3">
                             <label for="fCPF">CPF</label>
                             <input type="text" id="fCPF" class="form-control" onKeyPress="MascaraCPF(Cadastro.fCPF);" maxlength="14" placeholder="CPF"> 
                          </div>
                          <div class="form-group col-lg-6">
                             <label for="fNomeCompl">Nome completo</label>
                             <input type="text" id="fNomeCompl" class="form-control" placeholder="Nome completo">
                          </div>
                          <div class="form-group col-lg-3">
                             <label for="fRG">RG</label>
                             <input type="tel" id="fRG" class="form-control" onKeyPress="MascaraNumero(Cadastro.fRG)" placeholder="RG">
                          </div>
                       </div>
                       <div class="row">
                          <div class="form-group col-lg-3">
                             <label for="fPassaporte"><input type="checkbox" class="form-check-input" id="ckbxEstrangeiro"> Passaporte</label>
                             <input type="tel" class="form-control" id="fPassaporte" placeholder="Passaporte" onKeyPress="MascaraNumero(Cadastro.fPassaporte)" >
                          </div>
                          <div class="form-group col-lg-2">
                             <label for="fDataNasc" class="col-form-label" >Data de nascimento</label>
                             <input type="text" class="form-control" id="fDataNasc" onKeyPress="MascaraData(Cadastro.fDataNasc);" maxlength="10" placeholder="Data nascimento">
                          </div>
                          <div class="form-group col-lg-2">
                             <label for="cbxSexo">Sexo</label>
                             <select class="form-control" id="cbxSexo" placeholder="Sexo">
                               <option value="M">Masculino</option>
                               <option value="F">Feminino</option>
                             </select>
                          </div>
                          <div class="form-group col-lg-2">
                             <label for="fTel">Telefone</label>
                             <input type="tel" class="form-control" id="fTel" onKeyPress="MascaraTelefone(Cadastro.fTel);" maxlength="14" placeholder="Telefone">
                          </div>
                       </div>
                     </div>
                     <label>CONTATO PARA EMERGÊNCIA</label>
                     <div class="well">
                        <div class="row">
                          <div class="form-group col-lg-3">
                             <label for="fTelConhec">Telefone</label>
                             <input type="tel" class="form-control" id="fTelConhec" onKeyPress="MascaraTelefone(Cadastro.fTelConhec);" maxlength="14" placeholder="Telefone conhecido">
                          </div>
                          <div class="form-group col-lg-6">
                             <label for="fNomeConhec">Nome completo</label>
                             <input class="form-control" id="fNomeConhec" placeholder="Nome conhecido">
                          </div>
                          <div class="form-group col-lg-3">
                             <label for="cbxParentesco">Parentesco</label>
                             <select class="form-control" id="cbxParentesco" placeholder="Parentesco">
                             </select>
                          </div>
                        </div>
                     </div>
                     <label for="fEmail">DADOS DE LOGIN</label>
                     <div class="well">
                        <div class="row">
                           <div class="form-group col-lg-3">
                              <label for="fEmail">Email</label>
                              <input type="tel" class="form-control" id="fEmail" placeholder="Email">
                           </div>
                           <div class="form-group col-lg-3">
                              <label for="fSenha">Senha</label>
                              <input type="password" class="form-control form-control" id="fSenha" placeholder="Senha">
                           </div>
                           <div class="form-group col-lg-3">
                              <label for="fConfirmSenha">Confirmar senha</label>
                              <input type="password" class="form-control" id="fConfirmSenha" placeholder="Confirmar senha">
                           </div>
                        </div>
                     </div>
                     <div class="well">
                        <div class="row">
                           <div class="form-group col-lg-2">
                              <button type="submit" class="form-control btn btn-default" style="background-color:Green;color:white" data-toggle="modal" data-target="#myModal">Enviar</button>
                           </div>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
      <!-- /.container -->
      <footer>
         <div class="container">
            <div class="row">
               <div class="col-lg-12 text-center">
                  <p>Copyright UFPR - TADS</p>
               </div>
            </div>
         </div>
      </footer>
      <!-- jQuery -->
      <script src="js/jquery.js"></script>
      <!-- Bootstrap Core JavaScript -->
      <script src="js/bootstrap.min.js"></script>
   </body>
</html>